*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    font-family: arial;
}
main div{
     margin: 30px;
     padding: 20px;
     min-width: 600px;
     box-shadow:1px 1px 1px black;
     background-color: rgb(233, 227, 227);
     overflow: auto;
} 

header,article,aside{
   border:1px solid black;
   background-color: white;

}
/*主体的页头部分*//**********************************************/
body main header{
    float: left;
    padding: 20px;
    width: 160px;
    height: 100px;
   
}
body main header img{
    float: left;
    width: 100px;
    height: 100px;
}
body main header h1{

 padding-left: 120px;
}
/*主体的侧栏部分*//**********************************************/
body main aside{
    float: right;
    width: 100px;
    height:430px;
}
body main aside img{
    padding: 10px;
    width: 80px;
    height: 80px;
    border:1px solid darkgray
}

/*主体的文章部分*//**********************************************/
body main article{
font-size: 20px;
padding: 20px;
margin-left: 220px;
margin-right: 123px;

}
body main article h2{
    font-size: 1.2em;
    margin:10px 0;
}

/*页脚部分*****************************************************/
footer{
    clear: both;
    display: block;
    position: absolute;
    width: 100%;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: azure;
    background-color: rgb(49, 48, 48);
    bottom: 0;
}