body{
  background: url(1.jpg) repeat ;
  background-size: 30em 25em;
  
}
main{
  position: relative;
  margin: 0 auto;
  top: 33%;
  height:200px;
  width: 400px;
  background-color: red;
}

div .round1{
  height: 50px;
  width: 50px;
  background-color: gold;
  border-radius: 0 0 50px  0;
  
}
main p {
  color: beige;
 margin-left: 110px;
 margin-top: 40px;
}
div .round2{

height: 50px;
  width: 50px;
  background-color: gold;
  border-radius: 50px 0 0 0;
  margin-left:350px;
  margin-top: 39px;
}
