*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    font-family: arial;
}
body {
    background-color: #ccc;
}
/*头部*//**********************************************/
header{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7em;
    background: url(logo.png) no-repeat 5% center;
    background-size: 7em 7em;
    background-color: #333;
   
}
header nav ul{
    display: block;
    float: right;
   
}
header nav li{
    display: block;
    float:left;
    font-size: 1.5em;
    list-style:none;
    color:white;
    padding: 1.54em 1.54em;
  
    border-top: 0;
    }
header nav li a{
    padding:1.73em 1.5em;
    color: aliceblue;
    text-decoration:none; 
    }
header nav li a:hover{
    background-color: #474747;
    border-bottom: 2px solid red;
}
/*主体部分*//**********************************************/
main {
    margin-top: 11.6em;
}

article,aside,section{
    display: block;
    font-size:1.6em;
    background-color: white;
    padding: 30px;
    margin: 3em;
    box-shadow:  3px 3px 3px#848484;               
}
main  article h3{
 padding: 10px 0;
 color: #848484
}
main  article .zz{
    color: #848484;
    line-height: 30px;

}
/*页脚部分*/
footer {
    display: block;
    color: white;
    width:100%;
    background-color: black;
    bottom: 0;
    height: 3em;
    text-align: center;
    line-height: 3em;
    font-size: 2em;

}
